.logo1{
    width: 100px;
    height: 200px;

}
.logo2{
    width: 100px;
    height: 100px;

}

.box{
    width: 400px;
    height: 200px;
    border: 5px solid crimson;
    overflow:scroll;
}
.box2{
    width: 400px;
    height: 200px;
    border: 5px solid #8a5d6662;
    
}